@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-style: none;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 20px;
    /* Adiciona espaço para a navbar fixa */

}

body {
    line-height: 1;
    background-color: #1E1A17;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Nav-bar*/

ul.topnav {
    position: fixed;
    /* Fixa a navbar no topo */
    top: 0;
    width: 100%;
    /* Garante que a navbar ocupe toda a largura da tela */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 1000;
    /* Garante que a navbar fique acima de outros elementos */
    box-sizing: border-box;
    /* Inclui padding na largura total */
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #EF6950;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav {
        display: none;
    }}


/*Hero*/
.hero {
    height: 100vh;
    background-image: url(./images/hero-svg.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .hero {
      content: url('./images/hero-svg-mobile.svg');
    }
  }




/*about us*/
.sobre-nos {
    height: 100vh;
    background-image: url(./images/about-svg.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .sobre-nos {
      content: url('./images/about-svg-mobile.svg');
      width: 100%;
    }
  }


#maps {
    position: relative;
    width: 100%;
    padding-top: 50vh;
    /* 16:9 Aspect Ratio */
    margin-top: 5rem;

}

#maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*FOOTER*/

footer {
    background-color: #272727;
    width: 100%;
    color: #FFF;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
    color: #FFF;
    font-size: 1.2rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    color: #FFF;
    font-size: 1rem;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #EF6950;
}

#footer_subscribe img{
    display: flex;
    justify-content: center;
    width: 160px;
    height: 150px;
    margin: 10px;
}

#footer_subscribe p {
    color: #FFF;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}